/* Keyframes */

/* Reset */
* {
  box-sizing: border-box;
}

body,
h1,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", Arial, sans-serif;
  background: radial-gradient(circle, #3a506b, #3a506b 5%, #0b132b);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* General Styles */
.introduction {
  max-width: 960px;
  color: white;
  margin: 60px auto;
  padding: 0 15px 30px 15px;
}

.github-links {
  max-width: 960px;
  margin: 0 auto;
  padding: 50px 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  grid-gap: 30px;
}

.project-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 450px;
  margin: 0 15px;
  background: #1c2541;
  border: 5px solid #5bc0be;
  border-radius: 15px;

  transform: translateY(0px);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-container:hover {
  transform: translateY(-10px);
  box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 40px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-container:hover .project-print {
  filter: grayscale(0);
}

.project-link {
  padding: 15px;
}

.project-title {
  font-size: 2em;
  font-weight: 400;
  color: white;
  text-align: center;
  border-bottom: 4px solid #ccc;
  padding-bottom: 15px;

  transition: all 0.5s;
}

.project-print {
  margin: 20px 0;
  filter: grayscale(100%);

  transition: 0.3s;
}
