/* Reset */
*{
	box-sizing:border-box;
}

body, h1, a{
	margin:0;
	padding:0;
}

body{
	font-family:"Rubik",Arial,sans-serif;
	background:radial-gradient(circle,#3A506B,#3A506B 5%,#0B132B);
}

a{
	text-decoration:none;
}

img{
	display:block;
	max-width:100%;
}

/* General Styles */
.introduction{
	max-width:960px;
	color:white;
	margin:60px auto;
	padding:0 15px 30px 15px;
	border-bottom:4px solid #aaa;
}

.github-links{
	max-width:960px;
	margin:0 auto;
	padding:50px 0;

	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
	justify-items:center;
	grid-gap:30px;
}

.project-container{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-items:flex-end;
	max-width:450px;
	margin:0 15px;
	padding:15px;
	background:#1C2541;
	border:5px solid #5BC0BE;
}

.project-title{
	font-size:2em;
	font-weight:400;
	color:white;
	text-align:center;
	border-bottom:2px solid #ccc;
	padding-bottom:15px;
}

.project-print{
	margin:20px 0;
	filter:grayscale(80%) blur(2px);

	transition:0.5s ease-in;
}

.project-print:hover{
	filter:none;
}

